@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="country/China"><p>About China</p></a>
    <a href="country/Italy/Rome"><p>About Rome</p></a>
    <a href="country/Italy/Rome/Venice"><p>About Rome and Venice</p></a>
</div>
